<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>TOPS Report for <%= @child.first_name %></h1>
    <p>
      This is a paragraph.<br/>
    </p>
    
    <p>Thanks and have a great day!</p>
  </body>
</html>
